<!DOCTYPE html>
<html>
<head>
	<title>New event | TecSo Foundation</title>
	<%- include("../dynamicCommons.ejs") %>
</head>
<body>
	<%-include("../header.ejs")%>

	<div class="page-content">
		<h1 class="display-1 ack">Make a new event</h1>
		<form action="/admin/dashboard/events/create" class="contact-form" method="POST" enctype="multipart/form-data">
		<input type="text" name="event[name]" placeholder="Title" class="form-input" required><br>
			<div class="row">
				<div class="container col-sm-12 col-md-6 col-lg-6">
					<div class="form-content">
						<div class="text">
					
						</div>
					</div>
				</div>
				<div class="container col-sm-12 col-md-6 col-lg-6">
					<input type="date" class="date" name="event[date]"><br><br>
					<label for="images">Upload images</label>
					<input type="file" class="form-input" id="images" name="images" accept='image/*' multiple><br><br>
					<a class="btn btn-outline-warning" onclick="addPara()">Add paragraph +</a><br><br>
					<button type="submit btn btn-success">Create</button><br>
				</div>
			</div>
		</form>	
	</div>
	<%-include("../footer.ejs")%>
	<%-include("adminControls.ejs")%>
	<script type="text/javascript">
		var i = 0;
		function addPara(){
			$(".text").append("<label for='"+String(i)+"'>Paragraph"+String(i+1)+"</label><textarea required class='form-input' id="+String(i)+" name=event[content][paragraphs][" + String(i) + "]></textarea><br>")
			i = i+1;
			console.log($(".date").val())
		}
	</script>


</body>
</html>