<!DOCTYPE html>
<html>
<head>
	<title>Site Traffic | TecSo Foundation </title>
	<%- include("../dynamicCommons.ejs") %>
</head>
<body>
	<%- include("../header.ejs") %>
	<div class="page-content">
		<h1 class="ack display-1">Site Traffic</h1><br>
		<div class="container">
			<a class="btn btn-success" href="https://analytics.google.com/analytics/web/#/p295507273/realtime/overview?params=_u..nav%3Dmaui%26_u..pageSize%3D25">TecSo Global Foundation - Realtime</a><br><br>
			<a class="btn btn-warning" href="https://analytics.google.com/analytics/web/#/p295507273/reports/reportinghub?params=_u..nav%3Dmaui%26_u..pageSize%3D25">TecSo Global Foundation - Dashboard</a>
		</div>
		
	</div>
	<%- include("../footer.ejs") %> 
	<%- include("adminControls.ejs") %>
</body>
</html>