<!DOCTYPE html>
<html>
<head>

	<%- include ("./supplements/commonLinks.ejs")%>

	<title>TecSo Global Foundation|Welcome</title>
</head>
<body>
	<%- include ("./supplements/navbar.ejs")%>

</body>
</html>