
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Phozogy Template">
    <meta name="keywords" content="Phozogy, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome To TecSo Foundation</title>
    <link href="/img/TFlogo.png" rel="icon">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="/">
                            <img src="/img/TFlogo.png " alt="">
                        </a>
                    </div>
                    <nav class="nav-menu mobile-menu">
                        <ul>
                            <li class="active"><a href="index.php">Home</a></li>
                            <li><a href="about.php">About Us</a></li>
                            <li><a href="#">Brief-Bag</a>
                                <ul class="dropdown">
                                    <li><a href="fandc.php">Food & Clothing</a></li>
                                    <li><a href="awarness.php">Awarness</a></li>
                                    <li><a href="education.php">Education</a></li>
                                    <li><a href="epoverty.php">Eradicate Poverty</a></li>
                                    <li><a href="environment.php">Environment</a></li>
                                </ul>
                            </li>
                            <li><a href="donate.php">Donate</a></li>
                            <li><a href="contact.php">Contact</a></li>
                        </ul>
                    </nav>
                    <!--<div class="top-search search-switch">
                        <i class="fa fa-search"></i>
                    </div>
                    <div id="mobile-menu-wrap"></div>-->
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/banner1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Save The Environment</h2>
                                <p>The natural world, as a whole or in a particular geographical area, especially as affected by human activity...</p>
                                <!--<a href="#" class="primary-btn">Contact us</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="img/banner12.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Food and Clothing</h2>
                                <p>Integer sit amet volutpat massa, auctor ornare neque. Nunc at nibh venenatis dolor pulvinar aliquam. Nulla...</p>
                                <!--<a href="#" class="primary-btn">Contact us</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="img/banner1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Insert image here 3</h2>
                                <p>The natural world, as a whole or in a particular geographical area, especially as affected by human activity...</p>
                                <!--<a href="#" class="primary-btn">Contact us</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="img/banner1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Insert image here 4</h2>
                                <p>The natural world, as a whole or in a particular geographical area, especially as affected by human activity...</p>
                                <!--<a href="#" class="primary-btn">Contact us</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="img/banner1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Insert image here 5</h2>
                                <p>The natural world, as a whole or in a particular geographical area, especially as affected by human activity...</p>
                                <!--<a href="#" class="primary-btn">Contact us</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="img/banner1.jpg" alt="">
                        <h3>Promote Education</h3>
                        <p style="margin-top:50px;text-align:justify">To Education for Peace and Sustainable Development Improving the Quality of Primary Schools.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="img/banner2.jpeg" alt="">
                        <h3>Promote Preventive Healhcare and Sanitation</h3>
                        <p style="text-align:justify;">To improve water supplies and sanitation facilities in schools and communities and to improve and promote safe hygiene practices.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="img/banner3.jpeg" alt="">
                        <h3>Eradicate Hunger, Poverty and Malnutrition</h3>
                        <p style="text-align:justify">To help stem the worst effects of malnutrition by funding and helping countries supply micronutrients like iron and vitamin A, which is essential for a healthy immune system, during vaccination campaigns or through fortified food.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="img/banner4.jpeg" alt="">
                        <h3>Empowering Women</h3>
                        <p style="margin-top:50px;text-align:justify">To participate fully in economic life across all sectors is essential to build stronger economies, achieve internationally agreed goals for development and sustainability, and improve the quality of life for women, men, families and communities.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Categories Section Begin -->
    <section class="categories-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="section-title">
                        <h2>BRIEF-BAG</h2>
                        <p>Be a part of the breakthrough and make someone’s dream come true.</p>
                    </div>
                </div>
                <!--<div class="col-lg-6 col-md-6">
                    <div class="right-btn"><a href="#" class="primary-btn">VIew all</a></div>
                </div>-->
            </div>
            <div class="categories-slider owl-carousel" id="catSlide2">
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="img/01.jpg"></div>
                    <div class="cs-text">
                        <h4>Food and Clothing</h4>
                        <span>120 pictures</span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="img/02.jpeg"></div>
                    <div class="cs-text">
                        <h4>Awareness</h4>
                        <span>In order to bring awareness to the emotional and financial needs of veterans, the singer has planned a benefit concert....</span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="img/03.jpeg"></div>
                    <div class="cs-text">
                        <h4>Education</h4>
                        <span>Poor children need your help. Sponsor a child and gift future...</span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="img/04.jpg"></div>
                    <div class="cs-text">
                        <h4>Eradicate Poverty</h4>
                        <span> Eradicating poverty in all its forms and dimensions, including extreme poverty...
 </span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="img/05.jpg"></div>
                    <div class="cs-text">
                        <h4>Environment</h4>
                        <span>The natural world, as a whole or in a particular geographical area, especially as affected by human activity...</span>
                    </div>
                </div>

            <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="img/05.jpg"></div>
                    <div class="cs-text">
                        <h4>JCI</h4>
                        <span>Insert JCI info here</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Portfolio Section Begin -->
    <section class="portfolio-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our latest works</h2>
                    </div>
                    <div class="filter-controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".ep">Encourage Program</li>
                            <li data-filter=".landd">Learning And Distribution Program</li>
                            <li data-filter=".ag">Art Of Giving</li>
                            <li data-filter=".iq">Inspiring Quotes</li>
                            <li data-filter=".gd">Gifts Distribution</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div class="portfolio-filter">
                        <div class="pf-item set-bg ep" data-setbg="img/ep1.jpeg">
                            <a href="img/ep1.jpeg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <!--<div class="pf-text">
                                <h4>COLORS SPEAK</h4>
                                <span>Fashion</span>
                            </div>-->
                        </div>
                        <div class="pf-item large-width large-height set-bg landd"
                            data-setbg="img/ld1.jpeg">
                            <a href="img/ld1.jpeg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            
                        </div>
                        <div class="pf-item large-width set-bg ag" data-setbg="img/ag1.jpeg">
                            <a href="img/ag1.jpeg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            
                        </div>
                        <div class="pf-item large-height set-bg iq" data-setbg="img/iq1.jpeg">
                            <a href="img/iq1.jpeg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            
                        </div>
                        <div class="pf-item set-bg landd" data-setbg="img/ld2.jpeg">
                            <a href="img/ld2.jpeg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            
                        </div>
                        <div class="pf-item set-bg ag" data-setbg="img/ag2.jpeg">
                            <a href="img/ag2.jpeg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            
                        </div>
                        <div class="pf-item set-bg gd" data-setbg="img/gd1.jpeg">
                            <a href="img/gd1.jpeg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            
                        </div>
                        <div class="pf-item set-bg ep" data-setbg="img/ep2.jpeg">
                            <a href="img/ep2.jpeg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            
                        </div>
                        <div class="pf-item large-width set-bg gd" data-setbg="img/gd2.jpeg">
                            <a href="img/gd2.jpeg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            
                        </div>
                        <div class="pf-item set-bg ep" data-setbg="img/ep3.jpeg">
                            <a href="img/ep3.jpeg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            
                        </div>
                        <div class="pf-item large-width large-height set-bg iq"
                            data-setbg="img/iq2.jpeg">
                            <a href="img/iq2.jpeg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="load-more-btn">
            <a href="#">Load More</a>
        </div>-->
    </section>
    <!-- Portfolio Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#">
                                <img src="img/TFlogo.png" alt="" style="max-width:80%">
                            </a>
                        </div>
                        <p style="text-align:justify">An non-profitable company based on charity, works on education and healthcare for the underprivileged in India, founded on 7th Sept. 2016 by TecSo Global Ltd. The "TecSo Global Foundation" invests in people and ideas that can change the world.</p>
                        <!--<div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Quick links</h5>
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/foods-clothings">Foods & Clothings</a></li>
                            <li><a href="/awareness">Awarness</a></li>
                            <li><a href="/education">Education</a></li>
                            
                        </ul>
                        <ul>
                            <li><a href="poverty-eradication">Eradicate Poverty</a></li>
                            <li><a href="/environment">Environment</a></li>
                            <li><a href="/donate">Donate</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/join">Join us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Contact Us</h5>
                        <p><i class="fa fa-address-card"></i> 401, Benison Complex, Opp Shiv Mahal Palace, Old Padra Road, Vadodara-390007, Gujarat.</p>
                        <p id="email"><i class="fa fa-envelope"></i>Email:<a href="">  tgf@tecsoglobal.com</a></p>
                        <p ><i class="fa fa-phone"></i> <a href="" id="contact">+ (91) 98989 98390</a></p>
                    </div>
                </div>
                
                
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <p>
                            Copyright &copy; <span id="year"></span> All rights reserved by <b>TecSo Global Foundation</b>. Powered By<a href="http://www.tecsoglobal.com" target="_blank"> TecSo Projects Limited</a>
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">
    document.getElementById("year").innerHTML = new Date().getFullYear();
    $("#contact").click(function(){
          window.location.href = 'tel://+(91)9898998390' 
    });
    $("#email").click(function(){
        window.location.href = 'mailto://tgf@tecsoglobal.com'
    });
</script>

</body>

</html>