$primary-color: hotpink; // only change primary color
$primary-color-light: rgba($primary-color, 0.2);
$shadow-color: #e1e5ee;
$text-color: black;
$break-point: 768px;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

.container {
  max-width: 1000px;
  padding: 0 4rem;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 16px $shadow-color;
  font-family: "Poppins", sans-serif;
  background: white;
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    .nav-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: auto;
      .logo {
        font-size: 2.5rem;
        cursor: pointer;
        transition: color 0.2s;
        &:hover,
        &:focus {
          color: $primary-color;
          text-shadow: 0 0 3rem $primary-color;
        }
      }
      #nav-toggle {
        display: none;
      }
    }
    .nav-link {
      flex-shrink: 0;
      flex-grow: 0;
      font-weight: bold;
      padding: 1.5rem 1.8rem;
      position: relative;
      cursor: pointer;
      i {
        position: absolute;
        right: 0;
        top: 40%;
        transition: transform 0.3s;
      }

      &:after {
        position: absolute;
        content: "";
        width: 0%;
        height: 0.3em;
        background: $primary-color;
        border-radius: 4px;
        bottom: 1em;
        left: 1.6em;
        transition: width 0.3s;
      }
      &:hover::after {
        width: 60%;
      }
      &:hover {
        ul {
          opacity: 1;
          visibility: visible;
        }
        i {
          transform: rotate(180deg);
        }
      }

      .nav-drop {
        position: absolute;
        top: 4rem;
        box-shadow: 0 4px 16px $shadow-color;
        background-color: white;
        border-radius: 4px;
        border: 1px solid $shadow-color;
        width: 12rem;
        padding: 0.5rem;
        margin-left: -1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        opacity: 0;
        visibility: hidden;
        transition: 300ms ease-out;
        li {
          padding: 0.5rem 1rem;
          border-radius: 4px;
          cursor: pointer;
          transition: background 0.1s;
          &:hover,
          &:focus {
            background: $primary-color-light;
          }
        }
      }
    }
  }
  .btn {
    border: none;
    outline: transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: lighten($primary-color, 25);
    color: darken($primary-color, 25);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    .outline {
      background: inherit;
      border: 2px solid lighten($primary-color, 25);
    }
    &:hover {
      background: lighten($primary-color, 15);
    }
    &:focus {
      text-shadow: 0 0 18px $primary-color;
      outline: 4px solid lighten($primary-color, 20);
    }
    &:active {
      transform: scale(0.98);
    }
  }
}

// ========================= RESPONSEVIE =========================

// always show nav link and items above break point
@media screen and(min-width: $break-point) {
  nav {
    .nav-list {
      .nav-item {
        display: flex !important;
      }
      .nav-link {
        display: flex !important;
      }
    }
  }
}

// hide nav link and items below break point and show toggle btn
@media screen and(max-width: $break-point) {
  nav {
    padding: 1rem 0;
    .nav-list {
      display: block;
      .nav-logo {
        #nav-toggle {
          display: block;
        }
      }
      .nav-link {
        padding: 1.5rem 0;
        i {
          position: absolute;
          right: 1rem;
          top: 1.8rem;
        }
        .nav-drop {
          top: 1rem;
          box-shadow: unset;
          width: unset;
          margin-left: -1rem;
          opacity: 0;
          visibility: hidden;
        }
        &:after {
          top: 3em;
          left: 0.08em;
          transition: width 0.3s;
        }
        &:hover::after {
          width: 4em;
        }
        &:hover {
          ul {
            position: relative;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
