<!DOCTYPE html>
<html>
<head>
	<title>Page not found | TecSo Global Foundation</title>
	<%- include("dynamicCommons.ejs") %>
</head>
<body>
	<%- include ("header.ejs") %>
	<div class="page-content">
		<div class="container">
			<h1 class="display-1 ack fade">
				Page not found
			</h1>
			<center>
			<p class="fade">Sorry, but the requested url was not found on this server</p>

				<a href="/" class="btn fade btn-success">Return home</a>
			</center>
		</div>
	</div>

</body>
</html>