
<!DOCTYPE html>
<html>
<head>
	<title>About Us | TecSo Foundation</title>

    <%- include("./dynamicCommons.ejs") %>
    <!-- For ejs, spacing matters! -->


	
    
</head>
<body>
	<div class="spinner-border" style="margin:50%; background-color: red;"; role="status">
  <span class="sr-only">Loading...</span>
</div>
    <%- include ("./header.ejs") %>
    <%- include ("./visionmission.ejs") %>
   

   	
   	
   
   
		
   		
   
   	
   
    








<%- include("footer.ejs") %>
<script type="text/javascript">if(!document.querySelector('nav').classList.contains('show-menu')){
  $(".vision_mission").css("margin-left", "20px");
}</script>
</body>
</html>