<!DOCTYPE html>
<html>
<head>
	<title>TecSo Global Foundation | Welcome</title>
    <%- include("./dynamicCommons.ejs") %>


	
    
</head>
<body>
	<div class="spinner-border" style="margin:50%; "; role="status">
  <span class="sr-only">Loading...</span>
</div>
    <%- include ("./header.ejs") %>
	<div class="row homeTopRow align-items-top">

		<div class="col-lg-12 col-sm-12 ">
   			<%- include("./homeSlider.ejs") %>
	   	</div>
   </div>
   	<div class="row" style="margin-top: 70px;">

   	<div class="container col-sm-12 col-md-4 col-lg-6 display-1 text-center font__nunito fade">
   		
			Vision
	</div>
	<div class="col-sm-12 col-md-8 col-lg-6 container">		
			<p class="fade lead"><span style="margin-left:2rem;">To </span>execute activities in relation with Education, Women Empowerment, Livelihood Enhancement, Health & Sanitation and Combating Malnutrition can be executed so that dignified living of community members can be achieved.</p>
	</div>
   	
   </div>
   <hr>
   <div class="row" style="margin-top: 70px; margin-bottom: 70px;">

   	<div class="container col-sm-12 col-md-4 col-lg-6 display-1 order-lg-2 order-md-1 order-sm-1 text-center font__nunito fade">
   		
			Mission
	</div>
	<div class="col-sm-12 col-md-8 col-lg-6 container order-lg-1 order-md-1 order-sm-1">		
			<p class="fade lead"><span style="margin-left:2rem;">Implementing </span>sustainable measures to implement social work activities with the help of community at grassroot level through which contribution towards social, economical and environmental development of the society can take place as a whole</p>
	</div>
   	
   </div>
   	
   </div>
   
		
   		
   
   	
   </div>
    








	
</body>
</html>