<!DOCTYPE html>
<html>
<head>
	<title>TecSo Global Foundation | Welcome</title>
    <%- include("./dynamicCommons.ejs") %>


	
    
</head>
<body>
    <%- include ("./header.ejs") %>
	<div class="row homeTopRow">
		<div class="col-lg-7 col-sm-12">
   			<%- include("./homeSlider.ejs") %>
	   	</div>
		<div class="col-lg-5 col-sm-12 homeSideText">
			<!-- <h1>Making a <u>Difference</u></h1> -->
		</div>
   		
   
   	
   </div>
    
    	








	
</body>
</html>