<!DOCTYPE html>
<html>
<head>
	<title>TecSo Global Foundation | Welcome</title>
    <%- include("./dynamicCommons.ejs") %>


	
    
</head>
<body>
    <%- include ("./header.ejs") %>
   <div class="row">
   
   		<%- include("./homeSlider.ejs") %>
<div class="col-lg-5 col-sm-12">hi</div>
   		
   
   	
   	
   </div>
    
    	








	
</body>
</html>