<!DOCTYPE html>
<html>
<head>
	<title>TecSo Global Foundation | Welcome</title>
    <%- include("./dynamicCommons.ejs") %>

	
    
</head>
<body>
    <%- include ("./header.ejs") %>
	







	
</body>
</html>