<!DOCTYPE html>
<html>
<head>
	<title>TecSo Global Foundation | Welcome</title>
    <%- include("./dynamicCommons.ejs") %>


	
    
</head>
<body>
	<div class="spinner-border" style="margin:50%; background-color: red;"; role="status">
  <span class="sr-only">Loading...</span>
</div>
    <%- include ("./header.ejs") %>
   	<%- include("./homeSlider.ejs") %>
    <div id="home-content">
    <h1 class="display-1 ack">Acknowledgements</h1>
      
    <div class="row">
     <div class="container col-sm-12 col-md-12 col-lg-6">
      <div class="row">
        <div class="container col-sm-12 col-md-6 col-lg-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="container col-sm-12 col-md-6 col-lg-6">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <hr>
     <div class="row">
        <div class="container col-sm-12 col-md-6 col-lg-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="container col-sm-12 col-md-6 col-lg-6">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>

	  

         
     </div>
    </div> 	

   	
   	
   
   
		
   		
   
   	
   
    








<%- include("footer.ejs") %>
</body>
</html>